---
layout: default
---
<h1>{{ page.title }}</h1>
<div class="post-category">
	Posted in
	{% for category in page.categories %}
	<a href="/category/{{ category | slugify }}/">{{ category }}</a>
	{% endfor %}
</div>
<div class="post-tag">
	{% for tag in page.tags %}
	<a href="/tag/{{ tag | slugify }}/">{{ tag }}</a>
	{% endfor %}
</div>
<p class="meta">
	{{ page.date | date_to_string }}
	{% if page.last_modified_at %}
	<em>Updated {{ page.last_modified_at | date_to_string }}</em>
	{% endif %}
</p>

<div class="post">
	{{ content }}
</div>

<div class="related">
	<h3>Related Posts</h3>
	<ul>
		{% assign cat = page.categories | first %}
		{% assign count = 0 %}
		{% for related in site.categories[cat] %}
			{% unless related.hidden or page.url == related.url %}
				{% assign count = count | plus: 1 %}
				<li><a href="{{ related.url }}">{{ related.title }}</a></li>
			{% endunless %}

			{% if count >= 5 %}
				{% break %}
			{% endif %}
		{% endfor %}
	</ul>
</div>
